﻿@page
@model ContosoUniversity.Pages.About.IndexModel
@{
}

<h1>Database Settings</h1>

<p>Connection ok: @Model.ConnectionSuccess</p>

@if (!Model.ConnectionSuccess)
{
    <p><a asp-page="./Edit">Edit Connection</a></p>
}
